dd p + ul {
    margin-top: -0.5em;
}

dl > dd > p  {
  margin-top: 1em;
}

dd {
  margin-bottom: 2em;
}

.page-title, .post-title {
  margin-top: 1em;
}

h1 {
  margin-bottom: 1.5em;
}

.mb6 {
  margin-bottom: 0;
}